<h1>Listing Drugallergies</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.drugallergy_index_path(@socket, :index)}>
    <.live_component
      module={LifelineElixirWeb.DrugallergyLive.FormComponent}
      id={@drugallergy.id || :new}
      title={@page_title}
      action={@live_action}
      drugallergy={@drugallergy}
      return_to={Routes.drugallergy_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="drugallergies">
    <%= for drugallergy <- @drugallergies do %>
      <tr id={"drugallergy-#{drugallergy.id}"}>
        <td><%= drugallergy.name %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.drugallergy_show_path(@socket, :show, drugallergy) %></span>
          <span><%= live_patch "Edit", to: Routes.drugallergy_index_path(@socket, :edit, drugallergy) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: drugallergy.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Drugallergy", to: Routes.drugallergy_index_path(@socket, :new) %></span>
