<h1>Show Drugallergy</h1>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.drugallergy_show_path(@socket, :show, @drugallergy)}>
    <.live_component
      module={LifelineElixirWeb.DrugallergyLive.FormComponent}
      id={@drugallergy.id}
      title={@page_title}
      action={@live_action}
      drugallergy={@drugallergy}
      return_to={Routes.drugallergy_show_path(@socket, :show, @drugallergy)}
    />
  </.modal>
<% end %>



<ul>

  <li>
    <strong>Name:</strong>
    <%= @drugallergy.name %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.drugallergy_show_path(@socket, :edit, @drugallergy), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.drugallergy_index_path(@socket, :index) %></span>
